/* Tooltip for Nav bar icon */
.nav-bar-icon{
    position: relative;
}
.nav-bar-icon .tooltiptext{
    font-size: 12px;
    font-weight: 600;
    visibility: hidden;
    width: 80px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 150%;
    z-index: 1;
    transition-delay: .2s;
}

.nav-bar-icon:hover .tooltiptext{
    visibility: visible;
}

/* Left transition li */
.left-transition-list li .tooltiptext{
    font-size: 12px;
    font-weight: 600;
    visibility: hidden;
    width: 55px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    left: 100%;
    top: 1%;
    z-index: 100;
}

.left-transition-list li:hover .tooltiptext{
    visibility: visible;
}

/* Mail search icons */
.ser1 {
    position: relative;
}

.ser1 .tooltiptext{
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    visibility: hidden;
    width: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    left: -45%;
    z-index: 1;
    transition-delay: .2s;
    letter-spacing: 1;
}

.ser2 .tooltiptext{
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    visibility: hidden;
    width: 150px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 150%;
    left: -100%;
    z-index: 1;
    transition-delay: .2s;
    letter-spacing: 1;
}

.ser1:hover .tooltiptext,
.ser2:hover .tooltiptext,
.user-other-icons i:hover .tooltiptext{
    visibility: visible;
}

/* User account  */
.user-other-icons i{
    position: relative;
}

.user-other-icons i .tooltiptext{
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    visibility: hidden;
    width: 80px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 150%;
    left: -100%;
    z-index: 1;
    transition-delay: .2s;
    letter-spacing: 1;
}

/* Radius */
.radius{
    position: relative;
}
.radius .tooltiptext{
    font-size: 12px;
    font-weight: 600;
    visibility: hidden;
    width: 150px;
    background-color: #333;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    right: 90%;
    z-index: 1;
    transition-delay: .2s;
    letter-spacing: 1;
}

.radius:hover .tooltiptext{
    visibility: visible;
}

/* Left transition meet a */
.left-transition-meet a .tooltiptext{
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    visibility: hidden;
    width: 80px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 5%;
    left: 100%;
    z-index: 1;
    transition-delay: .2s;
}
.left-transition-meet a:hover .tooltiptext{
    visibility: visible;
}

/* main-box-head select */
.main-box-head .select i{
    position: relative;
}

.main-box-head .select i .tooltiptext{
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    visibility: hidden;
    width: 80px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: -75%;
    left: -50%;
    z-index: 1;
    transition-delay: .2s;
}

.main-box-head .functions i{
    position: relative;
}

.main-box-head .functions i .tooltiptext{
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: -100%;
    right: -50%;
    z-index: 1;
    transition-delay: .2s;
}
.main-box-head .select i:hover .tooltiptext,
.main-box-head .functions i:hover .tooltiptext{
    visibility: visible;
}

/* right transition */
.right-transition-icons i,
.hide-side-panel i{
    position: relative;
}

.right-transition-icons i .tooltiptext{
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    visibility: hidden;
    width: 70px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: -100%;
    right: -50%;
    z-index: 1;
    transition-delay: .2s;
}
.right-transition .hide-side-panel i .tooltiptext{
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    visibility: hidden;
    width: 90px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: -100%;
    right: -50%;
    z-index: 1;
    transition-delay: .2s;
}

.right-transition-icons i:hover .tooltiptext,
.right-transition .hide-side-panel i:hover .tooltiptext{
    visibility: visible;
    transform: none;
}
